html, body, #root, .App {
    font-size: 6vmin;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

table {
    border-spacing: 0;
}

table td {
    padding: 0;
}

a, a:link, a:visited {
    text-decoration: none;
    display: flex;
}

.image-link img {
    height: 0.5rem;
    transition: 0.25s;
}

.image-link img:hover {
    transform: scale(1.1);
}

.top-image-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.top-image-link .image-link img {
    height: 1rem;
}

.top-image-link .image-link img:hover {
    animation-play-state: paused;
}

.main-table-image-link {
    padding: 0 1.5rem;
    text-align: center;
}

.main-table-image-link .image-link img {
    height: 1.75rem;
}

.main-table-image-link span {
    font-size: 0.5rem;
    color: black;
    transition: opacity 0.25s;
}

.main-table {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-image-link-table {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-image-link {
    padding: 0 0.5rem;
}

.github-workflow-badge .image-link img {
    height: 100%;
    transform: none;
}

.right-bottom-corner {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}

@keyframes rotation {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating-img {
    animation: rotation 3s linear infinite;
}


