html, body, #root {
    font-size: 4vw;
    height: 100%;
    width: 100%;
}

a, a:link, a:visited {
    color: cornflowerblue;
    text-decoration: none;
}

a:hover, a:active {
    background-color: whitesmoke;
}

a.ImageTextLink {
    padding: 1vw 1vw;
}

img.ImageWithinLink {
    height: 1rem;
    margin-right: 0.25rem;
    vertical-align: middle;
}

span.VerticalCenterText {
    vertical-align: middle;
}

table.MainTable {
    position: relative;
    margin: auto;
    top: 25%;
}

