html, body, #root, .App {
    font-size: 4vw;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

table {
    border-spacing: 0;
}

a, a:link, a:visited, a:hover {
    text-decoration: none;
    display: flex;
}

a:active {
    background-color: whitesmoke;
}

.ImageTextLink {
    margin: 0.25rem;
}

.ImageTextLink img {
    height: 1rem;
    margin-right: 0.25rem;
    vertical-align: middle;
}

.ImageTextLink span {
    color: cornflowerblue;
    vertical-align: middle;
}

.MainTable {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.BottomImageLinkTable {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
}

.BottomImageLinkTable table {
    margin: auto;
}

.BottomImageLink {
    margin: 0.25rem;
}

.BottomImageLink img {
    height: 0.5rem;
    padding: 0.1rem;
    vertical-align: middle;
}

